{% extends "store/base.html" %}

{% block content %}
<h1>Contact</h1>
<div class="ui segments">
  <div class="ui segment">
    <p>Address</p>
  </div>
  <div class="ui segments">
    <div class="ui segment">
      <p>Hogeschool Rotterdam</p>
    </div>
    <div class="ui segment">
      <p>Wijnhaven 99</p>
    </div>
    <div class="ui segment">
      <p>3011 WN Rotterdam</p>
    </div>
  </div>
</div>
  <div class="ui segment">
    <p>Follow us!</p>
  <div class="ui horizontal segments">
    <div class="ui segment">
        <button class="ui large facebook button">
            <i class="facebook icon"></i>
                Facebook
        </button>
    </div>
    <div class="ui segment">
      <button class="ui large twitter button">
            <i class="twitter icon"></i>
                Twitter
      </button>
    </div>
    <div class="ui segment">
      <button class="ui large google plus button">
             <i class="google plus icon"></i>
                Google Plus
      </button>
    </div>
  </div>
</div>
{% endblock %}
