{% load static %}
{% load site_conf %}

<div class="ui borderless fixed main menu">
    <a href="/" class="header item">
        <img class="logo" src="{% static 'store/logo.png' %}">
    </a>
    <a href="/products/#" class="ui floated dropdown item">
        Products 
        <i class="dropdown icon"></i>
        <div class="menu">
            {% for cat in categories %}
            <div class="item" onclick="window.location='/products/{{ cat.url }}';">
                {{ cat.name }}
            </div>
            {% endfor %}
        </div>
    </a>
    <a href="/contact" class="item">
        Contact
    </a>
    <a href="/sale" class="item">
         Sale
    </a>

    <form action="/search" method="post">
    {% csrf_token %}
    
        <div class="ui right aligned action input">
          <input class="prompt" placeholder="Search products..." type="text" name="search_term"> 
          <button class="ui icon button">
            <i class="search icon"></i>
          </button>
        
    </div>
    </form>


    {% if IsLoggedIn %}
    <a href="#" class="ui right floated dropdown item">
        Welcome, {{ Fullname }}
        <i class="dropdown icon"></i>
        <div class="menu">
            {% if IsAdmin %}
            <div class="item" onclick="window.location='/admin';">
                <i class="configure icon"></i>                  
                Admin panel
            </div>
            {% endif %}
            <div class="item" onclick="window.location='/account/cart';">
                <i class="shop icon"></i>                  
                Shopping cart
            </div>
            <div class="item" onclick="window.location='/account/overview';">
                <i class="user icon"></i>
                Account overview
            </div>
            <div class="item" onclick="window.location='/account/orders';">
                <i class="payment icon"></i>                         
                My orders
            </div>
            <div class="item" onclick="window.location='/account/wishlist';">
                <i class="heart icon"></i>                         
                My wishlist
            </div>
            <div class="item" onclick="window.location='/account/logout';">
                <i class="sign out icon"></i> 
                Logout
            </div>
            
        </div>
    </a>
 
    {% else %}
    <div class="right menu">
        <a class="item" href="/account/login">
            <div class="ui button">Log-in</div>
        </a>        
        <a class="item" href="/account/register">
            <div class="ui {% PRIMARY_COLOR %} button">Sign up</div>
        </a>
    </div>
    {% endif %}
 
</div>