{% load static %}
{% load site_conf %}

<div class="ui borderless fixed main menu">
    <div class="ui text container">
        <a href="/" class="header item">
            <img class="logo" src="{% static 'store/logo.png' %}">
        </a>
        <a href="#" class="ui floated dropdown item">
            Producten 
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">
                    Kaarten
                </div>      
                <div class="item">
                    Posters
                </div>
            </div>
        </a>

        <a href="#" class="ui right floated dropdown item">
            Gebruiker 
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">
                    <i class="shop icon"></i>                  
                    Winkelwagen
                </div>      
                <div class="item">
                    <i class="user icon"></i>
                    Accountoverzicht
                </div>
                <div class="item">
                    <i class="payment icon"></i>                         
                    Mijn bestellingen
                </div>
                <div class="item">
                    <i class="sign out icon"></i> 
                    Uitloggen
                </div>
            </div>
        </a>
    </div>
</div>