{% extends "store/base.html" %}
{% load site_conf %}

{% block content %}
<div class="ui middle aligned center aligned grid">
    <div class="twelve wide column">
        <h4 class="ui horizontal divider header">
          <i class="cart icon"></i>
          Shoppingcart
        </h4>
        {% if hasProducts %}
        <div class="ui middle aligned divided list">
            {% for pr in cart %}
                <div class="item" onclick="window.location='/products/item/{{pr.product.id}}';">
                    <i class="large middle aligned icon"></i>
                    <div class="content">
                        <a class="header">{{pr.product.name}} </a>
                        <div class="description">{{pr.type.name}} ({{pr.type.width}} x {{pr.type.height}} cm)</div>
                    </div>
                    <div class="right floated content">
                      <div class="header"> &euro;{{pr.type.price}}</div>
                    </div>
                </div>
            {% endfor %}
            <div class="ui divider"></div>

            <div class="content">
                        <a class="header"> Total: </a>
                    </div>
            <div class="right floated content">
                  <div class="header"> &euro;{{ totalprice }}</div>
            </div>

            <form action="/account/order" method="post">
                {% csrf_token %}
                <button class="ui {% PRIMARY_COLOR %} button">
                    Order Products
                </button>
            </form>
        </div>
        {% else %}
        <div class="ui success message">You don't have any items in your shoppingcart yet!</div>
        {% endif %}
    </div>
</div>
{% endblock %}