{% extends "store/base.html" %}
{% load site_conf %}

{% block content %}
<div class="ui middle aligned center aligned grid">
        <tr class="twelve wide column">
            <h4 class="ui horizontal divider header">
              <i class="cart icon"></i>
              Orders
            </h4>
            {% if hasProducts %}
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>
                            Order
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
            {% for pr in orders %}
                <tr>
                    <td>
                        Order #{{pr.id}}
                    </td>
                    <td>
                        &euro; {{pr.price}}
                    </td>
                    <td>
                        {{pr.status}}
                    </td>
                </tr>
            {% endfor %}
            </table>
            {% else %}
            <div class="ui success message">You haven't placed any orders yet!</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
