{% extends "store/base.html" %}
{% load site_conf %}

{% block content %}
<div class="ui middle aligned center aligned grid">
    <div class="eight wide column">
        <form class="ui large form">
            <div class="ui stacked segment">

                <h4 class="ui dividing header">Accountgegevens</h4>                    

                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="Naam">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="mail icon"></i>
                        <input type="text" name="email" placeholder="E-mail">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Wachtwoord">
                    </div>
                </div>

                <h4 class="ui dividing header">Adresgegevens</h4>

                <div class="fields">
                    <div class="twelve wide field">
                        <input type="text" name="street" placeholder="Straat">
                    </div>
                    <div class="four wide field">
                        <input type="text" name="streetnumber" placeholder="Huisnummer">
                    </div>
                </div>
                <div class="fields">
                    <div class="eight wide field">
                        <input type="text" name="city" placeholder="Stad">
                    </div>
                    <div class="eight wide field">
                        <input type="text" name="zipcode" placeholder="Postcode">
                    </div>
                </div>

                <div class="ui fluid large {% PRIMARY_COLOR %} submit button">Account maken</div>
            </div>
        
            <div class="ui error message"></div>
        </form>
    </div>
</div>
{% endblock %}
