{% extends "store/base.html" %}
{% load site_conf %}

{% block content %}
<div class="ui middle aligned center aligned grid">
    <div class="eight wide column">
        {% if error %}
        <div class="ui error message">{{ description }}</div>
        {% elif succeeded %}
        <div class="ui success message">{{ description }}</div>        
        {% endif %}

        <form class="ui large form" method="POST" action="#">
            {% csrf_token %}
            <div class="ui stacked segment">

                <h4 class="ui dividing header">Account Details</h4>                    

                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="fullname" placeholder="Full name">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="mail icon"></i>
                        <input type="text" name="email" placeholder="E-mail">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>

                <h4 class="ui dividing header">Shipping Address</h4>

                <div class="fields">
                    <div class="twelve wide field">
                        <input type="text" name="street" placeholder="Street">
                    </div>
                    <div class="four wide field">
                        <input type="text" name="streetnumber" placeholder="#">
                    </div>
                </div>
                <div class="fields">
                    <div class="eight wide field">
                        <input type="text" name="city" placeholder="City">
                    </div>
                    <div class="eight wide field">
                        <input type="text" name="zipcode" placeholder="Zip Code">
                    </div>
                </div>

                <input type="submit" class="ui fluid large {% PRIMARY_COLOR %} submit button" value="Create Account"/>
            </div>
        </form>
    </div>
</div>
{% endblock %}
