{% extends "store/base.html" %}
{% load static %}
{% load site_conf %}

{% block content %}
<div class="ui middle aligned center aligned grid">
    <div class="twelve wide column">
        <h4 class="ui horizontal divider header">
          <i class="heart icon"></i>
          Wishlist
        </h4>
        <div class="right floated content">
            <a href="/account/wishlist/removeall/" ><i class="remove icon"></i>Remove all</a>                    
        </div>
        {% if hasProducts %}
        <div class="ui relaxed divided list">
            {% for pr in wishlist %}
            
              <div class="item" onclick="window.location='/products/item/{{pr.product.id}}';">
                  
                
                <div class="middle aligned content">
                    <h1> </h1>
                    <div class="ui small image">
                      <img src="{% static '/store/img/' %}{{pr.product.image.url}}">
                    </div>
                  <a class="header">{{pr.product.name}}</a>
                </div>
                  <div class="bottom aligned right floated content">
                  <div class="ui vertical animated violet button" tabindex="0">
                  <div class="hidden content">Shop</div>
                  <div class="visible content">
                    <i class="shop icon"></i>
                  </div>
                </div>
                      <a href="/account/wishlist/remove/{{pr.product.id}}" >Remove</a>
                </div>
              </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="ui success message">You don't have any products in your wishlist!</div>
        {% endif %}
    </div>
</div>
{% endblock %}