{% extends "store/base.html" %}
{% load site_conf %}
{% load static %}

{% block content %}
<div class="ui grid">
    <div class="eight wide column">
        <h5 class="ui top attached header">
            Users
        </h5>
        <div class="ui red attached segment">
            
        </div>
    </div>
    <div class="four wide column">
        <h5 class="ui top attached header">
            Quick Actions
        </h5>
        <div class="ui green attached segment">
        </div>
    </div>
</div>

{% endblock %}