{% extends "store/base.html" %}
{% load site_conf %}
{% load static %}

{% block content %}
<div class="ui grid">
    <div class="eight wide column">
        <h5 class="ui top attached header">
            Users
        </h5>
        <div class="ui red attached segment">
            <table class="ui unstackable table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th class="right aligned"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in users %}
                    <tr>
                        <td><a href="/admin/user/{{u.id}}">{{u.fullname}}</a></td>
                        <td>{{u.email}}</td>
                        <td class="right aligned">
                            <a href="/admin/user/{{u.id}}/remove" class="ui red icon button">
                                <i class="remove icon"></i>
                            </a>
                        </td>                    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="four wide column">
        <h5 class="ui top attached header">
            Quick Actions
        </h5>
        <div class="ui green attached segment">
        </div>
    </div>
</div>

{% endblock %}