{% extends "store/base.html" %}
{% load static %}
{% load site_conf %}

{% block content %}
<div class="ui segment">
    <form action="/products/item/addproduct" method="post" class="ui form" enctype="multipart/form-data">
    {% csrf_token %}   
        <input type="file" name="myfile" />
        <div class="field">
            <label>Name</label>
            <input name="name" placeholder="Enter name" type="text">
        </div>
        <div class="field">
            <label>Description</label>
            <input name="description" placeholder="Enter a description" type="text">
        </div>

        <h4 class="ui dividing header">Categories</h4>
        {% for cat in categories %}
        <div class="field">
            <div class="ui checkbox">
                <input name="{{cat.name}}" type="checkbox">
                <label>{{cat.name}}</label>
            </div>
        </div>
        {% endfor %}

        <button class="ui {% PRIMARY_COLOR %} button" type="submit">Save</button>
        <button class="ui button">Cancel</button>        
    </form>

</div>
{% endblock %}