{% extends "store/base.html" %}
{% load static %}
{% load site_conf %}

{% block content %}
<div class="ui link cards">
    {% for pr in products %}
    <div class="card">
        <div class="image" style="size:auth;">
            <img src="{% static 'store/img/' %}{{pr.product.image.url}}">
        </div>
        <div class="content">
            <a class="header">{{ pr.product.name }}</a>
            <div class="description">
                {{ pr.product.description }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
