{% extends "store/base.html" %}
{% load site_conf %}

{% block content %}
<div class="ui link cards">
    <div class="card">
        <div class="image" style="width:100%;height:300">
            <img src="">
        </div>
        <div class="content">
            <a class="header">Blank</a>
            <div class="description">
                
            </div>
        </div>
    </div>

    {% for pr in products %}
    <div class="card">
        <div class="image" style="width:100%;height:300">
            <img src="{{ pr.image.url }}">
        </div>
        <div class="content">
            <a class="header">{{ pr.name }}</a>
            <div class="description">
                {{ pr.description }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
