{% extends "store/base.html" %}
{% load static %}
{% load site_conf %}

{% block content %}
{% if error %}
<div class="ui error message">Category not found.</div>
{% else %}
<div class="ui attached segment" style="margin-bottom:10px; margin-top: -20px">
    <form class="ui form" style="margin-bottom:-5px">
        {% for fi in filters %}
        <div class="field">
            <div class="ui checkbox">
                <input name="{{fi.name}}" type="checkbox">
                <label>{{fi.name}}</label>
            </div>
        </div>
        {% endfor %}

        <button class="ui green button" type="submit">Apply</button>
    </form>
</div>
<div class="ui link cards">
    {% if IsAdmin %}
     <form action="/products/item/addproduct" method="get">
        {% csrf_token %}
    <button class="ui icon button">
      <i class="plus icon"></i>
    </button>
    </form>
    {% endif %}
    {% for pr in products %}
    <div class="card" onclick="window.location='/products/item/{{pr.product.id}}';">
        <div class="ui image" style="size:auth;">
            <img src="{% static 'store/img/' %}{{pr.product.image.url}}">
        </div>
        <div class="content">
            {% if IsAdmin %}
            <a href="/products/item/{{pr.product.id}}/remove" ><i class="circular remove red icon"></i></a> 
            {% endif %}
            <a class="header">{{ pr.product.name }}</a>
           
            <div class="description">
                {{ pr.product.description }}
            </div>
             
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
